h1{
    text-align: center;
    background-color: brown;
    color: white;
    border-radius: 10px;
    width: 900px;
    margin-left: 300px;

}
article{
    color: rgb(255, 255, 255);
    height: 200px;
    width: 400px;
    text-align: center;
    margin-left: 100px;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
}